<a href="https://colab.research.google.com/github/hussain0048/Python/blob/master/Python_Advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1-File Handling**[1]

**What is File Handling?**

- File is named location on disk (hard drive) to store related information.

- They are used to permanently store data in a non-volatile memory (e.g. hard disk). Data in all systems in stored in the form of files.

- Databases also uses file systems behind the scene.

- Working with files, make your program capable of saving in Secondary Memory (also known as Persistence Storage); which is Non-volatile (which even keep the data when the computer is turned off), we use files for future use of the data by permanently storing them.

#**2-What are Basic File Operations?**[1]

Following are the basic operations in File Handling in Python:-


- Create File in Python
- Open File in Python
- Read File in Python
- Write in File
- Append to File

#**3-How to Open File in Python?**

- In order to read from Files or Writing data on Files, we need to read it first.

- Whenever the file is open, we do required calculations and then need to close file. open() method is used in Python to Open File. This function returns a file object, also called a handle, as it is used to read or modify the file accordingly;

In [ ]:
def open(file, mode='r', buffering=None, encoding=None, errors=None, newline=None, closefd=True):
    # Python Open Method

- **file**: is the file path i-e directory where your file is saved

- **mode**: Define the purpose of opening file i-e read, write, append etc.

- **buffering**: is an optional integer used to set the buffering policy

- **encoding**: is the name of the encoding used to decode or encode the file.

      - default encoding is platform dependent
       - In windows, it is cp1252
       - utf-8 in Linux
- **errors**: is an optional string that specifies how encoding errors are to be handled—this argument should not be used in binary mode.

- **newline**: controls how universal newlines works (it only applies to text mode). It can be:

- None
- ‘ ‘
- ‘\n’
- ‘\r’
- ‘\r\n’

#**4-What are different File Opening Modes in Python?**

Character Use in Open()            - Description of the Character Used in Open()

- r                                - open for reading (default)

- w                                - open for writing, truncating the file first

- x                                - create a new file and open it for writing

- a                                - open for writing, appending to the end of the file if it exists

- b                                - binary mode

- t                                - text mode (default)

- +                                - open a disk file for updating (reading and writing)

- U                                - universal newline mode (deprecated)

In [ ]:
f = open("Ultimate-Facebook-Scraper-2.0/LICENSE")
print(f)
# <_io.TextIOWrapper name='Ultimate-Facebook-Scraper-2.0/LICENSE' mode='r' encoding='cp1252'>

In file handling in Python, once we open file with a defined MODE, we can read or write data accordingly

#**5-How to Read File in Python?**

In [ ]:
f = open("Ultimate-Facebook-Scraper-2.0/LICENSE")

data_1 = f.read(3)
data_2 = f.readlines()
data_3 = f.readable()

print(data_1)
print(data_2[0:3])
print(data_3)

print("File is closed?: ",f.closed)
f.close()
print("File is closed?: ",f.closed)

# MIT
# [' License\n', '\n', 'Copyright (c) 2020 harismuneer, Hassaan-Elahi\n']
# True
# File is closed?:  False
# File is closed?:  True

**There are 2 different reading style;**

**read(N)**: - this return complete data from file as string, we can read “N” character from it

**readLines():**- Read all lines from files and return a list


Python also give us the facility of automatically closed files after opening and reading or writing. As shown in following code, there is not need to close file explicitly;

In [ ]:
with open("Ultimate-Facebook-Scraper-2.0/LICENSE") as f:
    data_1 = f.read(3)
    data_2 = f.readlines()
    data_3 = f.readable()

print(data_1)
print(data_2[0:3])
print(data_3)

print("File is closed?: ",f.closed)

# MIT
# [' License\n', '\n', 'Copyright (c) 2020 harismuneer, Hassaan-Elahi\n']
# True
# File is closed?:  True

Closing a file will free up the resources that were tied with the file. It is done using the close() method available in Python. Python has a garbage collector to clean up unreferenced objects but we must not rely on it to close the file.

If file does not exist, it will give Exception.

In [ ]:
with open("NOFILE.txt", 'r') as f:
    data = f.readlines()
# FileNotFoundError: [Errno 2] No such file or directory: 'NOFILE.txt'

#**6-How to Read File in Binary Mode?**

On the other hand, binary mode returns bytes and this is the mode to be used when dealing with non-text files like images or executable files. The default is reading in text mode. In this mode, we get strings when reading from the file.

In [ ]:
with open("Ultimate-Facebook-Scraper-2.0/LICENSE", 'rb') as f:
    data = f.readlines()
print(data[0])
# b'MIT License\n'




#**7-Build web app using fastapi using python**

In [ ]:
from google.colab import files
uploaded = files.upload()

[This is the link of the web app which is build using FastApi] 
(https://github.com/hussain0048/Python/blob/master/Projects/Fastapi-webapp.py)

##**8-GUI with Python**

In [ ]:
#@title String fields
#We can create the some type of variable like below
#param is used to GUI feature option
text = 'values' #@param {type:"string"}
First = "1st option" #@param ["1st option", "2nd option", "3rd option"]
second  = '2nd option' #@param ["1st option", "2nd option", "3rd option"] {allow-input: true}

print(text)
print(First)
print(second)

values
1st option
2nd option

In [ ]:
#@title Raw fields

raw_input = None #@param {type:"raw"}
raw_dropdown = raw_input #@param [1, "raw_input", "False", "'string'"] {type:"raw"}

print(raw_input)
print(raw_dropdown)

None
None

In [ ]:
#@title Date fields
date_input = '2021-01-04' #@param {type:"date"}

print(date_input)

2021-01-04

In [ ]:
#@title Number fields
number_input = 10.0 #@param {type:"number"}
number_slider = 0.5 #@param {type:"slider", min:-1, max:1, step:0.1}

integer_input = 10 #@param {type:"integer"}
integer_slider = 4 #@param {type:"slider", min:0, max:100, step:1}

print(number_input)
print(number_slider)

print(integer_input)
print(integer_slider)

10.0
0.5
10
4

In [ ]:
#@title Boolean fields
boolean_checkbox = False #@param {type:"boolean"}
boolean_dropdown = True #@param ["False", "True"] {type:"raw"}

print(boolean_checkbox)
print(boolean_dropdown)

False
True

In [ ]:
#@title After running this cell manually, it will auto-run if you change the selected value. { run: "auto" }

option2 = "C" #@param ["A", "B", "C"]
print('You selected', option2)

You selected C

#**9-Pandas[3]**

####**9.1-Welcome to DataFrames**

A DataFrame is how Pandas represents a table. You can access columns, rows and individual cells.

Suppose you constructed a DataFrame by

In [ ]:
import pandas as pd
df = pd.DataFrame({'name': ['Jeff', 'Esha', 'Jia'], 
                   'age': [30, 56, 8]})

In [ ]:
df.head()

   name  age
0  Jeff   30
1  Esha   56
2   Jia    8

####**9.2-Select columns**

You can select one column by doing df[column_name], such as df['age'], or multiple columns as df[[column_name1, column_name2]]. For a single column, you can also select it using the attribute syntax, df.<column_name>, as in, df.age. Note, a single column in Pandas is called a Series and operates differently from a DataFrame.

Suppose you constructed a DataFrame by

In [ ]:
import pandas as pd

df = pd.DataFrame({'name': ['Jeff', 'Esha', 'Jia'], 
                   'age': [30, 56, 8]})

In [ ]:
df

   name  age
0  Jeff   30
1  Esha   56
2   Jia    8

In [ ]:
df1 = df['age']

In [ ]:
df1

0    30
1    56
2     8
Name: age, dtype: int64

In [ ]:
df.head()

   name  age
0  Jeff   30
1  Esha   56
2   Jia    8

####**9.3-Select rows by label (.loc)**

You can select the rows of a DataFrame one of two ways. One way is with df.loc[...].

 df.loc[...] selects rows based on their index value. To select a single row, you can do df.loc[index_value], for example, df.loc[156].
 
  To select multiple rows, you can do df.loc[[index_value1, index_value2]], for example, df.loc[[132, 156]].

Suppose you constructed a DataFrame by

In [ ]:
import pandas as pd

df = pd.DataFrame({'name': ['Jeff', 'Esha', 'Jia'], 
                   'age': [30, 56, 8]},
                   index=[132, 156, 27])

In [ ]:
df

     name  age
132  Jeff   30
156  Esha   56
27    Jia    8

In [ ]:
df.loc[[27, 132]]

     name  age
27    Jia    8
132  Jeff   30

In [ ]:
df

In [ ]:
df.head()

####**9.4-Select rows by position (.iloc)**

You can select the rows of a DataFrame one of two ways.
 One way is with df.iloc[...]. df.iloc[...] selects rows based on their position in the DataFrame.
 
  To select a single row, you can do df.iloc[position], for example, df.loc[1] selects the row with Esha below. To select multiple rows, you can do df.iloc[[position1, position2]], for example, df.loc[[0, 2]].

Suppose you constructed a DataFrame by

In [ ]:
import pandas as pd

df = pd.DataFrame({'name': ['Jeff', 'Esha', 'Jia'], 
                   'age': [30, 56, 8]},
                   index=[132, 156, 27])

In [ ]:
df.iloc[2]

name    Jia
age       8
Name: 27, dtype: object

In [ ]:
df.head()

####**9.5-Aggregate a column**

DataFrames can calculate aggregations on columns. Aggregation functions such as mean, max, min,  are available.

Using the same DataFrame from before,

In [ ]:
import pandas as pd

df = pd.DataFrame({'name': ['Jeff', 'Esha', 'Jia'], 
                   'age': [30, 56, 8]})

In [ ]:
df.head()

   name  age
0  Jeff   30
1  Esha   56
2   Jia    8

What is the minimum value of age? Define a variable min_age with the value of df.age.min() would output.

In [ ]:
import pandas as pd
import numpy as np
maxm_data =df.loc[df['age'].idxmax()]

In [ ]:
min_data =df.loc[df['age'].idxmin()]

In [ ]:
min_data

name    Jia
age       8
Name: 2, dtype: object

In [ ]:
maxm_data

name    Esha
age       56
Name: 1, dtype: object

####**9.6-Creating a new column**

You can add a new column to a DataFrame by doing df[new_column_name] = value_for_each_row. Typically, you will create a new column from one or more existing columns in your DataFrame. Most operators that work on single values in python will work on DataFrames such as +, -, *, /, ==, <, and >.

#**References**

[[1]File Handling in Python; Read, Write, Create, Append, Open Files](https://skilllx.com/file-handling-in-python-read-write-create-append-open-files/?fbclid=IwAR0sPMIifrXmXjIIdcYaPImr5nOhFKNAlRyU6Cw4zgqppkUjFmQxpd4n5Gs)

[[2]Python GUI Projects](https://amankharwal.medium.com/7-python-gui-projects-for-beginners-87ae2c695d78)

[[3]Pandas](https://pandaspractice.com/exercise/1-welcome)