<a href="https://colab.research.google.com/github/hussain0048/Python/blob/master/Basic/1_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is mean by Python

**Introduction:**

Python is a very simple language, and has a very straightforward syntax. It encourages programmers to program without boilerplate (prepared) code. There are two major Python versions, Python 2 and Python 3. Python 2 and 3 are quite different. This tutorial uses Python 3, because it more semantically correct and supports newer features.

In [ ]:
!git clone https://github.com/hussain0048/Python.git

# 1- **Hello, World!**
The simplest directive in Python is the "print" directive - it simply prints out a line (and also includes a newline, unlike in C).For example, one difference between Python 2 and 3 is the print statement. In Python 2, the "print" statement is not a function, and therefore it is invoked without parentheses. However, in Python 3, it is a function, and must be invoked with parentheses.

In [ ]:
#To print a string in Python 3, just write:
print("This line will be printed.")

In [ ]:
print("Goodbye, World!")

# 2- **Indentation**
Python uses indentation for blocks, instead of curly braces. Both tabs and spaces are supported, but the standard indentation requires standard Python code to use four spaces. For example

In [ ]:
x = 1
if x == 1:
    # indented four spaces
    print("x is 1.")

x is 1.

# 3 - **Variables and Types**
Python is completely object oriented, and not "statically typed". You do not need to declare variables before using them, or declare their type. Every variable in Python is an object.

This tutorial will go over a few basic types of variables.

## 3.1 Numbers
Python supports two types of numbers - integers and floating point numbers. (It also supports complex numbers, which will not be explained in this tutorial).

To define an integer, use the following syntax:

In [ ]:
myint = 7
print(myint)

In [ ]:
#To define a floating point number, you may use one of the following notations:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

## 3.2- **Strings**
Strings are defined either with a single quote or a double quotes.The difference between the two is that using double quotes makes it easy to include apostrophes (whereas these would terminate the string if using single quotes)

In [ ]:
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

# 4 -**Lists**
Lists are very similar to arrays. They can contain any type of variable, and they can contain as many variables as you wish. Lists can also be iterated over in a very simple manner. Here is an example of how to build a list.

In [ ]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

In [ ]:
# prints out 1,2,3
for x in mylist:
    print(x)

In [ ]:
#Accessing an index which does not exist generates an exception (an error).
mylist = [1,2,3]
print(mylist[10])

# 5- Basic Operators
This section explains how to use basic operators in Python.

## 5.1- Arithmetic Operators
Just as any other programming languages, the addition, subtraction, multiplication, and division operators can be used with numbers.

In [ ]:
number = 1 + 2 * 3 / 4.0
print(number)

In [ ]:
# Another operator available is the modulo (%) operator, which returns the integer remainder of the division. dividend % divisor = remainder
remainder = 11 % 3
print(remainder)

In [ ]:
# Using two multiplication symbols makes a power relationship.
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

##5.2  -Using Operators with Strings
Python supports concatenating strings using the addition operator:

In [ ]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [ ]:
lotsofhellos = "hello" * 10
print(lotsofhellos)

## 5.3- Using Operators with Lists

In [ ]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

In [ ]:
# Just as in strings, Python supports forming new lists with a repeating sequence using the multiplication operator:
print([1,2,3] * 3)

# 6- String Formatting

Python uses C-style string formatting to create new, formatted strings. The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s" and "%d".

Let's say you have a variable called "name" with your user name in it, and you would then like to print(out a greeting to that user.)

In [ ]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

To use two or more argument specifiers, use a tuple (parentheses):

In [ ]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

Any object which is not a string can be formatted using the %s operator as well. The string which returns from the "repr" method of that object is formatted as the string. For example

In [ ]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

Here are some basic argument specifiers you should know:

%s - String (or any object with a string representation, like numbers)

%d - Integers

%f - Floating point numbers

%.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.

%x/%X - Integers in hex representation (lowercase/uppercase)

# 7-**Basic String Operations**
Strings are bits of text. They can be defined as anything between quotes:

In [ ]:
astring = "Hello world!"
astring2 = 'Hello world!'

As you can see, the first thing you learned was printing a simple sentence. This sentence was stored by Python as a string. However, instead of immediately printing strings out, we will explore the various things you can do to them. You can also use single quotes to assign a string. However, you will face problems if the value to be assigned itself contains single quotes.For example to assign the string in these bracket(single quotes are ' ') you need to use double quotes only like this

In [ ]:
astring = "Hello world!"
print("single quotes are ' '")
print(len(astring))

In [ ]:
astring = "Hello world!"
print(astring.index("o"))

That prints out 4, because the location of the first occurrence of the letter "o" is 4 characters away from the first character. Notice how there are actually two o's in the phrase - this method only recognizes the first.

But why didn't it print out 5? Isn't "o" the fifth character in the string? To make things more simple, Python (and most other programming languages) start things at 0 instead of 1. So the index of "o" is 4.

In [ ]:
astring = "Hello world!"
print(astring.count("l"))

For those of you using silly fonts, that is a lowercase L, not a number one. This counts the number of l's in the string. Therefore, it should print 3.

In [ ]:
astring = "Hello world!"
print(astring[3:7])

This prints a slice of the string, starting at index 3, and ending at index 6. But why 6 and not 7? Again, most programming languages do this - it makes doing math inside those brackets easier.

If you just have one number in the brackets, it will give you the single character at that index. If you leave out the first number but keep the colon, it will give you a slice from the start to the number you left in. If you leave out the second number, it will give you a slice from the first number to the end.

You can even put negative numbers inside the brackets. They are an easy way of starting at the end of the string instead of the beginning. This way, -3 means "3rd character from the end".

In [ ]:
astring = "Hello world!"
print(astring[3:7:2])

This prints the characters of string from 3 to 7 skipping one character. This is extended slice syntax. The general form is [start:stop:step].

In [ ]:
astring = "Hello world!"
print(astring[3:7])
print(astring[3:7:1])

Note that both of them produce same output

There is no function like strrev in C to reverse a string. But with the above mentioned type of slice syntax you can easily reverse a string like this

In [ ]:
astring = "Hello world!"
print(astring[::-1])

!dlrow olleH

In [ ]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

hese make a new string with all letters converted to uppercase and lowercase, respectively.

In [ ]:
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

This is used to determine whether the string starts with something or ends with something, respectively. The first one will print True, as the string starts with "Hello". The second one will print False, as the string certainly does not end with "asdfasdfasdf"

In [ ]:
astring = "Hello world!"
afewwords = astring.split(" ")

This splits the string into a bunch of strings grouped together in a list. Since this example splits at a space, the first item in the list will be "Hello", and the second will be "world!".

# 8- **Conditions**
Python uses boolean variables to evaluate conditions. The boolean values True and False are returned when an expression is compared or evaluated. For example:

In [ ]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

Notice that variable assignment is done using a single equals operator "=", whereas comparison between two variables is done using the double equals operator "==". The "not equals" operator is marked as "!=".

## 8.1 - Boolean operators
The "and" and "or" boolean operators allow building complex boolean expressions, for example:

In [ ]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

## 8.2 The "in" operator
The "in" operator could be used to check if a specified object exists within an iterable object container, such as a list:

In [ ]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Python uses indentation to define code blocks, instead of brackets. The standard Python indentation is 4 spaces, although tabs and any other space size will work, as long as it is consistent. Notice that code blocks do not need any termination.

Here is an example for using Python's "if" statement using code blocks:

In [ ]:
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

In [ ]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

A statement is evaulated as true if one of the following is correct: 1. The "True" boolean variable is given, or calculated using an expression, such as an arithmetic comparison. 2. An object which is not considered "empty" is passed.

Here are some examples for objects which are considered as empty: 1. An empty string: "" 2. An empty list: [] 3. The number zero: 0 4. The false boolean variable: False

## 8.3 The 'is' operator
Unlike the double equals operator "==", the "is" operator does not match the values of the variables, but the instances themselves. For example:

In [ ]:
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False

##8.4-**The "not" operator**
Using "not" before a boolean expression inverts it:

In [ ]:
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

#**9-Loops** 
There are two types of loops in Python, for and while.

## **9.1- For Loops** 
For loops iterate over a given sequence. Here is an example [1]

In [ ]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

For loops can iterate over a sequence of numbers using the "range" and "xrange" functions. The difference between range and xrange is that the range function returns a new list with numbers of that specified range, whereas xrange returns an iterator, which is more efficient. (Python 3 uses the range function, which acts like xrange). Note that the range function is zero based[1]

In [ ]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

In [ ]:
# Prints out 3,4,5
for x in range(3, 6):
    print(x)

In [ ]:
# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

# **References**
Learn Python
https://www.learnpython.org/en/Conditions